# Dependencies
/node_modules
/.pnp
.pnp.js

# Wasp
/.wasp
/.wasp-server-dist
/.wasp-server-node-modules
/.wasp-build
/.wasp-tmp

# Testing
/coverage

# Production
/build
/dist

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
wasp-cli.log

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.temp

# Database
*.sqlite
*.sqlite3
*.db

# AWS
.aws-sam/

# Docker
.dockerignore

# Misc
.cache/
.eslintcache
